.ant-drawer-header{
    display: none !important;
}

.ant-collapse-item{
    border: none !important;
}

.ant-collapse-content{
    border: none !important;
}

.ant-collapse-expand-icon{
    padding-top: 20px;
}

.ant-collapse-content-box{
    padding: 0px 15px !important;
}