.hobbiesSection {
    padding: 50px 20px;
    background-color: white;
  }
  
  .hobbiesSection h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .hobbiesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  
  .hobbyItem {
    text-align: center;
    padding: 20px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    background-color: white;
  }
  
  .hobbyItem h3 {
    font-size: 1.5rem;
    margin-top: 15px;
  }
  
  .icon {
    font-size: 3rem;
    color: orange;
  }
  